NEXT_PUBLIC_API_ENDPOINT=http://160.250.247.146:4000
NEXT_PUBLIC_URL=http://160.250.247.146:3000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=replace-with-google-client-id
NEXT_PUBLIC_GOOGLE_AUTHORIZED_REDIRECT_URI=http://160.250.247.146:4000/auth/login/google
SKIP_REMOTE_FETCH=false

